<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" id="new-post-comment" cols="30" rows="3" placeholder="Type Here" required></textarea>
        <input type="submit" value="Post">
    </form>
    <ul>
        <% for(post of posts){ %>
            <li>
                <p>
                    <% if ( locals.user && locals.user.id==post.user.id ){ %>
                        <small>
                            <a href="/posts/destroy/<%= post.id %>"><i class="fas fa-trash"></i></a>
                        </small>
                        <% } %>
                            <%= post.content %>
                                <br />
                                <small>
                                    Post created by <%= post.user.name%>
                                </small>
                </p>
                <div class="post-comments">
                    <% if(locals.user){%>
                        <form action="/comments/create" method="POST">
                            <input type="text" name="content" placeholder="Type Here to add comment..." required>
                            <input type="hidden" name="post" value="<%= post._id%>">
                            <input type="submit" value="Add comment">
                        </form>
                        <% } %>
                            <div class="post-comments-list">
                                <ul id="post-comments-<%= post._id %>">
                                    <% for (comment of post.comments){ %>
                                        <%- include('_comment') -%>
                                            <% } %>
                                </ul>
                            </div>
                </div>
            </li>
            <% } %>
    </ul>
</section>

<section id="user-friends">
    <h4>Friends</h4>
    <small>Total Friends: <%= all_users.length %></small>
    <% for(u of all_users){ %>
        <p>
            <a href="/users/profile/<%= u.id %>">
                <%= u.name %>
            </a>
            <!-- <%= u %> -->
        </p>
        <% } %>
</section>