<link rel="stylesheet" href="/css/user_profile.css">
<div id="user-profile-div">
    <!-- <form action="/users/sign-out" method="GET"> -->
    </form>
    <h1>CodEial Profile Page!!</h1>

    <!-- If user matched show the form -->
    <form action="/users/update/<%= user.id %>" method="POST">
        <input type="text" name="name" placeholder="Your Name" value="<%= user.name %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= user.email %>" required>
        <input type="submit" value="Update">
    </form>
    <!-- only show the profile info -->
    <h4>
        User Name: <%= user.name %>
    </h4>
    <h4>
        User Email: <%= user.email %>
    </h4>
    <!-- <button type="submit" href="/create-session">Sign In</button> -->
</div>